.wmd-view-topscroll, .wmd-view {
    overflow-x: scroll;
    overflow-y: scroll;
    border: none 0px RED;
}

/* .wmd-view-topscroll { height: 20px; }
.wmd-view { height: 200px; } */
.scroll-div1 { 
    width: 3300px; 
    overflow-x: scroll;
    overflow-y: scroll;
}
.scroll-div2 { 
    width: 3500px;
}

::-webkit-scrollbar-corner {
    background: #0c0c0c;
  }
