{% load crispy_forms_tags %}


<body class="colour">
    {% include 'nav.html' %}
    <div class="right" alignment="right" >
        File Detail
        <li> <span> {{filename}} </span></li>
            <li>Engagements Year  :  <span>{{engangement}}</span></li>

            <li>:Transaction Total : <span> {{Transaction}}</span></li>
            <li>
                Audit By <span>{{username}}</span>
            </li>
        </div>
            <div id="container" class="charts"> </div>
            <div id= "container1" class="charts"> </div>
            <script src="https://code.highcharts.com/highcharts.src.js"></script>
            <script>
              Highcharts.chart('container', {
                  chart: {
                      type: 'bar'
                  },
                  title: {
                      text: 'Mani Accnt Catg'
                  },
                  xAxis: {
                      categories: [
                        {% for entry in dataset %}'{{ entry.acct_category }} Class'{% if not forloop.last %}, {% endif %}{% endfor %}
                      ]
                  },
                  series: [{
                      name: 'Status',
                      data: [
                        {% for entry in dataset %}{{ entry.survived_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
                      ],
                      color: 'green'
                  }, {
                      name: 'Type',
                      data: [
                        {% for entry in dataset %}{{ entry.not_survived_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
                      ],
                      color: 'red'
                  }]
              });
            </script>
            <script>
                    Highcharts.chart('container1', {
                        chart: {
                            type: 'line'
                        },
                        title: {
                            text: 'Mani Accnt Catg'
                        },
                        xAxis: {
                            categories: [
                              {% for entry in dataset %}'{{ entry.acct_category }} Class'{% if not forloop.last %}, {% endif %}{% endfor %}
                            ]
                        },
                        series: [{
                            name: 'Status',
                            data: [
                              {% for entry in dataset %}{{ entry.survived_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
                            ],
                            color: 'green'
                        }, {
                            name: 'Type',
                            data: [
                              {% for entry in dataset %}{{ entry.not_survived_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
                            ],
                            color: 'blue'
                        }]
                    });
                  </script>
</body>
</html>