{% include 'nav.html' %}
{% load crispy_forms_tags %}

{% block content %}
 
<div align=right >
        <a href="/ClientRegister/">
            <button class="btn btn-primary" style="background-color: blueviolet;width: 10%;" > New Client </button>
        </a>
</div> 
 <div class="tablediv">
  <table id="example" class="table table-bordered" style="width:100%" style="height:100% ">
        <thead class="thead-inverse">
            <tr>
                <th>id </th>
                <th>name</th>
                <th>email </th>
                <th>company_ode</th>
                <th>company_type</th>
                <th>registration_no</th>
                <th>country</th>
                <th>starting_date</th>
            </tr>
        </thead>
        <tbody>
            {% for data in data %}
            <tr>
                <td>{{ data.id|default:"null"}} </td>
                <td>{{ data.name|default:"null"}}</td>
                <td>{{ data.email|default:"null"}}</td>
                <td>{{ data.company_ode|default:"null"}}</td>
                <td>{{ data.company_type|default:"null"}}</td>
                <td>{{ data.registration_no|default:"null"}}</td>
                <td>{{ data.country|default:"null"}}</td>
                <td>{{ data.starting_date|default:"null"}}</td>
      
            </tr>
              {% endfor %}
        </tbody>
           
        <tfoot>
            <tr>
                
            </tr>
        </tfoot>
    </table>
</div>
</body>
</html>
{% endblock %}