{% load widget_tweaks %}

{% include 'nav.html' %}
<style>     
    .form-group{
position: relative;
margin-bottom: 30px;
width: 30%;
display: flow-root;
line-height: 1.8;
    }
    .btn{
  background-color: cadetblue;
    }
    label{
        font-style: italic;
        font-weight: bold;
    }
    .form-control{
        display: block;
width: 100%;
padding: 0.375rem 0.75rem;
font-size: 1rem;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: 0.25rem;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-;
    }
    </style>
{% if form %}
<form method="POST">
<div class="container"  align=center >
        <h3> Create </h3>
 {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}

      {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}

  <button type="submit" class="btn">Submit</button>
</form>
  </div>
 <script>
     $( document ).ready(function() {
  $("#id_fiscal_start_month").datepicker({ 
           format: 'yyyy-mm-dd'
      });
 }); 
                </script>
{% endif %}