{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta  charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.28.0/js/jquery.fileupload-angular.js" ></script> -->
 
</head>
<body>
  <style>
    .select{
        width:30%;
    }
    #myProgress {
  width: 100%;
  background-color:black;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color:white;
}
    </style>
{% include 'nav.html' %}
<div class="container"  align=center >
    <div id="myProgress">
        <div id="myBar"></div>
      </div>
  <h2>Import Data</h2>
  <h1>Drag N Drop</h1> 
  {% crispy form %}

</div>

<!-- <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Uploading...</h4>
        </div>
        <div class="modal-body">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 0%;"> 0%</div>
          </div>
        </div>
      </div>
    </div> -->
{% load static %}

<script>
function move() {
  var elem = document.getElementById("myBar");
  var width = 1;
  var id = setInterval(frame, 10);
  function frame() {
    if (width >= 100) {
      clearInterval(id);
    } else {
      width++;
      elem.style.width = width + '%';
    }
  }
} 
</script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <script src="{% static 'js/plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="{% static 'js/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jQuery-File-Upload-9.14.1/js/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jQuery-File-Upload-9.14.1/js/jquery.iframe-transport.js' %}"></script>
 <script src="{% static 'js/jQuery-File-Upload-9.14.1/js/jquery.fileupload.js' %}"></script>
 <script src="{% static 'upload.js' %}"></script>
</body>
</html>
