{% extends 'nav.html'%}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
  <style>
    select{
      width: 50%;
    }
    .asteriskField{
      display: none;
}
   </style>

<div class="container"  align=center >
    <div class="box box-primary">
  <h3 style=font-family:-apple-system> <b>Import Data</b> </h3>
{% crispy form %}
</div>
  <!-- <input id ="new_table" type="checkbox" name="new_table" value=""> New Table<br> -->
</div>

{% endblock %}
<!-- <div id="form1">
<form method="POST">
{{form1}}
</form>
</div>
-->

